@font-face {
  font-family: helvetice;
  src: url(./assets/fonts/Helvetica/helvetica_bold.otf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetice;
}
body{
  width: 100%;
}
.navbar{
  width: 100%;
  height: 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding:20px;
   color:white;
}
.a{
  width: 45%;
  position: relative;
  left: 15px;
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color:white;
}
.page{
  width: 100%;
  height: auto;
}
.page1{
  width: 100%;
  height: 100vh;
  background-image: url(./assets//image//image\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 50px;
  padding-top: 0;
}
.page2{
  width: 100%;
  height: auto;
  padding: 50px;
}
img{ 
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.page3{
    width: 100%;
    height: 100vh;
    background-image: url(./assets//image//image\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px;
    padding-top: 0;
  }
  .Carousel1{
    width: 100%;
    height: 420px;
  }
.mySwip{
  width: 100%;
  margin-top: 100px;
  height: 300px;
}
.mySwiper{
  width: 100%;
  height: 240px;
}.app{
  width: 100%;
  height: 80vh;
  background: url(./assets//image//image\ 21.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  padding: 50px;
}.iphone{
  width: 30%;
  height: 70vh;
  background: url(./assets//image//iPhone\ 13\ Mockup.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.Swipper1 ,.Swipper2{
  width: 100%;
  height: 440px;
}@media screen and (max-width:600px){
  .Swipper2,.Swipper1{
    width: 100%;
    height: 360px;
  }
  .Swipper2 img{
    width: 100%;
    height: 100%;
  }
  .mySwip{
    width: 100%;
    height: 100%;
  }
  .mySwiper{
    width: 100%;
  }
  .mySwiper1{
    width: 100%;
    height: 300px;
  }
  .mySwiper img ,.mySwiper1 img{
    width: 100%;
    height: 100%;
  }
  .swipper{
    width: 100%;
  }
  .opacity{
    display: none;
  }
  .img{
    display: none;
  }
}
.logo{
  margin-left: -20px;
}
.opacity{
  width: 100%;
  height: 35px;
  background-color: white;
  opacity: .4;
  font-size: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  display: flex;
  color: grey;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family:serif;
}
.categories{
  color:gray;
}
.beach{
  width:100px;
  height: 40px;
  background-image: url("./assets/image/image\ 4.png");
  background-repeat: no-repeat;
}
.desert{
  width:100px;
  height: 40px;
  background-image: url("./assets/image/image\ 16.png");
  background-repeat: no-repeat;
}
.skiing{
  width:100px;
  height: 40px;
  background-image: url("./assets/image/image\ 8.png");
  background-repeat: no-repeat;
  color:grey
}
.mount{
  width:100px;
  height: 40px;
  background-image: url("./assets/image/image\ 3.png");
  background-repeat: no-repeat;
  color:grey
}
.City{
  width:100px;
  height: 40px;
  background-image: url("./assets/image/image\ 13.png");
  background-repeat: no-repeat;
  color:grey
}.home{
  width:100px;
  height: 40px;
  background-image: url("./assets/image/image\ 17.png");
  background-repeat: no-repeat;
  color:grey
}
.count{
  width:100px;
  height: 40px;
  background-image: url("./assets/image/image\ 10.png");
  background-repeat: no-repeat;
  color:grey
}
.camping{
  width:100px;
  height: 40px;
  background-image: url("./assets/image/image\ 5.png");
  background-repeat: no-repeat;
  color:grey
}
.castles{
  width:90px;
  height: 40px;
  background-image: url("./assets/image/image\ 12.png");
  background-repeat: no-repeat;
  color:grey
}
.tropical{
  width:80px;
  height: 40px;
  background-image: url("./assets/image/image\ 15.png");
  background-repeat: no-repeat;
  color:grey
}
.plan{
  width: 100%;
  height: 70vh;
  background:url(./assets/image//Frame\ 62.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 20px;
}
.Swiptop{
  width: 100%;
  height: 440px;
  margin-top: 280px;
}
.footer{
  width:100%;
  height: 45vh;
  background: url(./assets//image//Footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.div1{
  width: 70%;
}
.input{
  width:70%;
  height: 40px;
  opacity: .4;
}.btn{
  margin-right:20px;
}
.Swipper{
  width: 100%;
  height: 440px;
}@media screen and (max-width:600px){
  body{
    text-align: center;
  }
  .Swipper{
    width: 100%;
    height: 360px;
  }
  .navbar{
    gap:20px;
  }
  a{
    display: none;
  }
  .page1{
    height: auto;
  }
  .categories{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
    .Swiptop{
      width: 100%;
      height: 360px;
    }
  .categories div div{
    width:80px;
  }
  .plan{
    width: 100%;
    height: 150px;
  }
  .mySwip{
    width: 100%;
    height: 220px;
    margin-top: -30px;
  }
  .tropical h5{
    display: none;
  }
  .footer{
      background-size: cover;
      height: 80px;
  }
  .iphone{
    display: none;
  }
  .app{
    flex-wrap: wrap;
     width: 100%;
  }
  .btn{
    margin-right:0px;
    margin-bottom: 20px;
  }
  .mySwip{
    width: 100%;
    height: 100px;
  }
  li{
    display: none;
  }
  .swip{
    font-size: 5px;
  }
  .mySwip img{
   display: none;
  }
 
  .div1{
    width: 100%;
    text-align: center;
  }
  .input{
    display: none;
  }
  .btn1{
    display: none;
  }
}
h4 , li{
  color:black;
}
::-webkit-scrollbar{
  display: none;
}
